<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GestionActifsMateriels.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GestionMaterielIntExt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GestionActifsMateriels.Properties.Settings>
            <setting name="Position_FormCMateriel" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size_FormCMateriel" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Position_Form1" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size_Form1" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Position_FormGestion" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size_FormGestion" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </GestionActifsMateriels.Properties.Settings>
        <GestionMaterielIntExt.Properties.Settings>
            <setting name="Position_FormCMateriel" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size_FormCMateriel" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Position_Form1" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size_Form1" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Position_FormGestion" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size_FormGestion" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </GestionMaterielIntExt.Properties.Settings>
    </userSettings>
</configuration>